<div class = "panel panel-default">
    <div class = "panel-heading">
      <h3 class ="panel-title"><%= @skill.name %></h3>
      </div>

      <div class="panel-body">
        <p><%= @skill.rating %></p>
        </div>
</div>
          
 <p><%= link_to "Add a Project", new_skill_project_path(@skill), class: "btn btn-success" %></p>
   
<h1>Projects</h1>

<% if @skill.projects.any? %>


  <% @skill.projects.each do |project| %>
  
  	<div class = "panel-heading">
      <h3 class ="panel-title"><%= project.name %></h3>
      <%= project.picture %>
      </div>
      <% end %>

     <% end %>

