<%= form_for reference, remote: true do |form| %>
  <% if reference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reference.errors.count, "error") %> prohibited this reference from being saved:</h2>

      <ul>
      <% reference.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author, id: :reference_author %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :reference_content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
